* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

body {
  margin: 0;
}

header {
  align-items: center;
  display: flex;
  height: 12vh;
  justify-content: center;
}

.entire-page {
  display: flex;
  flex-direction: row;
}

aside {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 90vh;
  min-width: 290px;
}

aside h2,
p {
  color: white;
}

h2 {
  font-size: 1.25em;
  margin-top: 3em;
  text-align: center;
  width: 7em;
}

.matchThumbnail {
  background-color: grey;
  height: 5.5em;
  margin: 1em;
  width: 4em;
}

.confirmed-match-top,
.confirmed-match-bottom {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.number-of-matches {
  font-size: 5em;
  margin: .10em;
  text-align: center;
}

.top-3-times {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5em;
}

.top-time {
  margin: .5em
}

main {
  background-color: #E9E9E9;
  height: 90vh;
  width: 88%;
}

.hidden {
  display: none;
}

.game-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 1100px;
}

.card-wrapper {
  flex: 1 0 21%;
}

.unknown-card {
  align-items: center;
  background-image: white;
  border: .08em solid black;
  display: inline-flex;
  font-size: 4em;
  font-weight: bold;
  height: 3em;
  justify-content: center;
  margin: .5em;
  width: 2em;
}

.unknown-card-top,
.unknown-card-middle,
.unknown-card-bottom {
  display: flex;
  flex-direction: row;
}

#card-0 {
  transform: translate(0em, .5em);
}

#card-1 {
  transform: translate(-1em, -.1em) rotate(-15deg);
}

#card-2 {
  transform: translate(-.2em, 0em) rotate(5deg);
}

#card-3 {
  transform: translate(-.5em, .25em) rotate(20deg);
}

#card-4 {
  transform: translate(.5em, .25em) rotate(22deg);
}

#card-5 {
  transform: translate(.3em, -.75em) rotate(-12deg);
}

#card-6 {
  transform: translate(-.75em, -.5em) rotate(-4deg);
}

#card-7 {
  transform: translate(-.5em, .2em) rotate(-16deg);
}

#card-8 {
  transform: translate(3em, -1.3em) rotate(6deg);
}

#card-9 {
  transform: translate(1.2em, -1.6em) rotate(23deg);
}

.winner-page {
  height: 100vh;
  width: 100vw;
}

.congrats-container {
  align-items: center;
  background-image: url(assets/bey1.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  opacity: 0.7;
  width: 100vw;
}

h3 {
  font-size: 5em;
  margin: .25em;
}

.play-again-button,
.new-game-button {
  background-color: black;
  color: white;
  font-size: 2em;
  margin: 1.5em 2.5em;
  outline: none;
  padding: .5em 1.75em;
}

.match-time-info,
.total-time-display {
  color: red;
  font-size: 30px;
}
